@font-face {
    font-family: Canopee;
    src: url(./616fd1dd00cf6c70f978fc69_Canopee.ttf);
}

@font-face {
    font-family: Domaine;
    src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    width: 100%;
}

#wrapper{
    background-color: #1C1C1A;
}

#page1{
    width: 100vw;
    height: 140vh;
    position: relative;
    background-color: #C3BCB2;
    overflow: hidden;
}

#nav{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #6F6C66;
}

#nav img{
    height: 18px;
    margin-left: -30px;
}

#nav h5{
    font-size: 15px;
    font-weight: 100;
    color: #1C1C1A;
    font-family: "Domaine";
}

#nav h5:hover{
    cursor: context-menu;
}

#nav i{
    font-size: 23px;
    margin-left: 40px;
}

#nav i:hover{
    cursor: pointer;
}

#elems{
    /* background-color: red; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#elems:hover{
    cursor: pointer;
}

#elem1{
    /* background-color: yellow; */
    width: 35%;
    height: 90%;
    padding: 0 0 0 20px;
}

#img-container{
    width: 90%;
    height: 60%;
    overflow: hidden;
    border: 1px solid black;
}

#img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .8s;
}

#img-container:hover img{
    scale: 1.2;
}

#elem1 h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#elem1 span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#elem1 p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#elem2{
    /* background-color: aqua; */
    width: 30%;
    height: 90%;
    border-left: 1px solid #6F6C66;
    border-right: 1px solid #6F6C66;
    text-align: center;
    padding: 10px 0;
}

#elem2 h2{
    font-family: "Canopee";
    font-size: 60px;
    font-weight: 500;
    color: #1C1C1A;
}

#elem2 h4{
    font-family: "Domaine";
    font-size: 40px;
    font-weight: 100;
    color: #1C1C1A;
}

#elem2 p{
    color: #44423F;
    font-family: "Domaine";
    font-size: 17px;
}

#elem2 p>span{
    color: #1C1C1A;
    font-weight: 600;
}

#elem3{
    /* background-color: green; */
    width: 35%;
    height: 90%;
    padding: 0 0 0 40px;
}

#elem3 h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#elem3 span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#elem3 p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#miranda{
    width: 96%;
    margin-top: 1%;
    margin-left: 2%;
    background-color: #1C1C1A;
    color: #C5BDB3;
    font-family: "Canopee";
    font-size: 500px;
    font-weight: 100;
    line-height: 400px;
    letter-spacing: -23px;
    padding-left: 15px;
    padding-top: 10px;
}

#miranda:hover{
    cursor: context-menu;
}

#page2{
    width: 100%;
    height: 160vh;
    background-color: #C3BCB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 26px;
}

#page2l{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    border-right: 1px solid #6F6C66;
}

#page2l h1{
    font-family: "Canopee";
    font-size: 90px;
    color: #1C1C1A;
    margin-left: 8px;
    line-height: 105px;
    letter-spacing: -2px;
}

#page2l h1 span{
    font-size: 150px;
}

#page2l img{
    height: 50%;
    width: 85%;
    object-fit: cover;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
}

#page2l p span{
    color: #C3BCB2;
    background-color: #1C1C1A;
    font-weight: 600;
    font-size: 70px;
    padding: 0 8px;
    margin: 10px 14px 0 0;
    float: left;
}

#page2l p{
    font-family: "Domaine";
    color: #1C1C1A;
    width: 88%;
    font-size: 28px;
}

#page2r{
    height: 100%;
    width: 65%;
    /* background-color: red; */
    margin: 5px 0 0 40px;
}

#page2r img{
    width: 100%;
    height: 62%;
    object-fit: cover;
    border: 1px solid #000;
    margin-bottom: 30px;
}

#page2r h1{
    font-family: "Domaine";
    color: #1C1C1A;
    font-size: 80px;
    line-height: 80px;
}

#page2:hover{
    cursor: context-menu;
}

#page3{
    width: 100%;
    background-color: #C3BCB2;
    padding: 25px 25px 0 25px;
    position: relative;
}

#page3 h1{
    background-color: #1C1C1A;
    color: #C5BDB3;
    font-family: "Canopee";
    font-size: 420px;
    font-weight: 100;
    line-height: 320px;
    letter-spacing: -23px;
    width: fit-content;
    padding: 10px 40px 0 20px;
}

#page3 img{
    position: absolute;
    right: 2%;
    top: 5%;
    height: 90%;
}

#page3:hover{
    cursor: context-menu;
}

#page4{
    width: 100%;
    height: 150vh;
    background-color: #C3BCB2;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px; */
}

#page4l{
    height: 90%;
    width: 60%;
    /* background-color: aqua; */
    border-right: 1px solid #000;
}

#page4ltop{
    /* background-color: green; */
    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#page4ltopl{
    width: 45%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 10px 0 10px 5px;
}

#page4ltopl h2{
    font-family: "Canopee";
    font-size: 50px;
    font-weight: 600;
    color: #1C1C1A;
}

#page4ltopl h4{
    font-family: "Domaine";
    font-size: 35px;
    font-weight: 100;
    color: #1C1C1A;
}

#page4ltopl p{
    color: #44423F;
    font-family: "Domaine";
    font-size: 17px;
}

#page4ltopl p>span{
    color: #1C1C1A;
    font-weight: 600;
}

#page4ltopl:hover{
    cursor: context-menu;
}

#page4ltopr{
    width: 55%;
    height: 90%;
    padding: 0 0 0 40px;
}

#page4ltopr:hover{
    cursor: pointer;
}

#page4ltopr h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#page4ltopr span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#page4ltopr p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#page4lbottom{
    width: 100%;
    height: 65%;
    /* background-color: teal; */
    margin: 20px;
    padding-right: 15px;
}

#page4lbottom img{
    width: 95%;
    height: 98%;
    object-fit: cover;
    /* border: 1px solid #000; */
    margin-bottom: 30px;
}

#page4r{
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    padding-left: 50px;
    padding-top: 35px;
}

#page4r h1{
    font-family: "Canopee";
    font-size: 90px;
    color: #1C1C1A;
    margin-left: 8px;
    line-height: 105px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

#page4r h1 span{
    font-size: 160px;
}

#page4r:hover h1{
    cursor: context-menu;
}

#page4r p span{
    color: #C3BCB2;
    background-color: #1C1C1A;
    font-weight: 600;
    font-size: 70px;
    padding: 0 8px;
    margin: 10px 14px 0 0;
    float: left;
}

#page4r p{
    font-family: "Domaine";
    color: #1C1C1A;
    width: 88%;
    font-size: 30px;
    padding-left: 10px;
}

#page4r:hover p{
    cursor: context-menu;
}

#oval{
    margin-top: 20px;
    height: 190px;
    width: 85%;
    border-radius: 50%;
    background-color: #CAC0B6;
    border: 1px solid #6F6C66;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    overflow: hidden;
}

#oval h1{
    font-size: 80px;
    font-weight: 100;
    color: #1C1C1A;
    font-family: "Canopee";
    margin-top: 15px;
    transform: translateX(-30%);
    transition: all ease 0.7s;
}

#oval img{
    transform: translateX(-120%);
    transition: all ease 0.7s;
}

#oval:hover{
    cursor: pointer;
}

#oval:hover h1{
    transform: translateX(110%);
}

#oval:hover img{
    transform: translateX(110%);
}

#page5{
    width: 100%;
    height: 30vh;
    background-color: #C3BCB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #1C1C1A;
    padding-top: 15px;
}

#ele{
    /* display: inline-block; */
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    padding: 20px;
    position: relative;
}

#ele h4{
    font-family: "Domaine";
    font-size: 28px;
    font-weight: 100;
}

#ele h1{
    font-family: "Canopee";
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -4px;
}

#ele h1 span{
    font-size: 140px;
    position: absolute;
    top: -4%;
    right: 18%;
    font-weight: 200;
}

#page5:hover{
    cursor: pointer;
}

#page6{
    width: 100%;
    height: 110vh;
    background-color: #C2BBB2;
    padding: 60px 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page6l{
    width: 45%;
    height: 100%;
    /* background-color: red; */
}

#page6l img{
    float: left;
    height: 42%;
    width: 30%;
    object-fit: cover;
    border: 1px solid #000;
}

#page6l h1{
    color: #1C1C1A;
    font-family: "Domaine";
    font-size: 310px;
    line-height: 300px;
    letter-spacing: -24px;
    font-weight: 100;
    margin-top: -20px;
}

#page6r{
    width: 55%;
    height: 100%;
    /* background-color: yellow; */
}

#page6r img{
    border: 1px solid #000;
    width: 93%;
    height: 90%;
    margin-left: 30px;
    object-fit: cover;
}

#page6:hover{
    cursor: context-menu;
}

#page7{
    width: 100%;
    height: 55vh;
    background-color: #C3BCB2;
    padding: 0 25px 0 25px;
    position: relative;
}

#page7 h1{
    position: absolute;
    top: -5%;
    right: 0;
    /* background-color: #1C1C1A; */
    color: #1C1C1A;
    font-family: "Canopee";
    font-size: 390px;
    font-weight: 100;
    line-height: 340px;
    letter-spacing: -20px;
    width: fit-content;
    padding: 10px 40px 0 20px;
}

#page7 img{
    height: 90%;
    width: 28%;
    object-fit: cover;
    border: 1px solid #000;
}

#page7 h1:hover{
    cursor: pointer;
}
 
#page8{
    width: 100%;
    background-color: #C3BCB2;
    padding: 20px 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1C1C1A;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}

#page8 h1{
    background-color: #1C1C1A;
    color: #C5BDB3;
    font-family: "Canopee";
    font-size: 350px;
    font-weight: 100;
    line-height: 320px;
    letter-spacing: -23px;
    width: fit-content;
    padding: 10px 40px 0 20px;
}

#page8 h1:hover{
    cursor: context-menu;
}

#page8r{
    padding: 0 20px;
}

#page8r p{
    font-size: 30px;
    font-weight: 100;
    font-family: "Domaine";
}

#page8r p:hover{
    cursor: context-menu;
}

#page8r h2{
    font-size: 90px;
    font-family: "Canopee";
}

#page8 h2:hover{
    cursor: pointer;
}

#page9{
    width: 100vw;
    height: 60vh;
    position: relative;
    background-color: #C3BCB2;
    overflow: hidden;
}

#elements{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#elements:hover{
    cursor: pointer;
}

#element1{
    /* background-color: yellow; */
    width: 35%;
    height: 90%;
    padding: 0 0 0 20px;
}

#img-container{
    width: 90%;
    height: 60%;
    overflow: hidden;
    border: 1px solid black;
}

#img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .8s;
}

#img-container:hover img{
    scale: 1.2;
}

#element1 h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#element1 span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#element1 p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#element2{
    /* background-color: aqua; */
    width: 30%;
    height: 90%;
    border-left: 1px solid #6F6C66;
    border-right: 1px solid #6F6C66;
    text-align: center;
    padding: 10px 0;
}

#element2 h2{
    font-family: "Canopee";
    font-size: 60px;
    font-weight: 500;
    color: #1C1C1A;
}

#element2 h4{
    font-family: "Domaine";
    font-size: 40px;
    font-weight: 100;
    color: #1C1C1A;
}

#element2 p{
    color: #44423F;
    font-family: "Domaine";
    font-size: 17px;
}

#element2 p>span{
    color: #1C1C1A;
    font-weight: 600;
}

#element3{
    /* background-color: green; */
    width: 35%;
    height: 90%;
    padding: 0 0 0 40px;
}

#element3 h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#element3 span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#element3 p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#page10{
    padding: 25px 0;
    width: 100%;
    background-color: #C4BCB3;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#page10::-webkit-scrollbar {
    display: none;
}

#page10 h1{
    color: #1C1C1A;
    font-size: 90px;
    font-family: "Domain";
    font-weight: 100;
    display: inline-block;
    /* background-color: red; */
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#page10 h1 span{
    font-family: "Canopee";
    background-color: #1C1C1A;
    color: #C4BCB3;
    padding: 0 12px;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 34px));
    }
}

#page10:hover h1{
    animation-play-state: paused;
    cursor: pointer;
}

#footer{
    height: 65px;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#footerleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

#footerleft h3{
    font-weight: 200;
    font-family: "Canopee";
}

#footerleft h4{
    font-weight: 100;
    font-size: 19px;
    text-transform: capitalize;
    font-family: "Domaine";
}

#footerright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#footerright h3{
    font-weight: 200;
    font-family: "Canopee";
}

#footerright span{
    margin-left: 8px;
}

#footerright h3:hover{
    cursor: pointer;
}