@font-face {
    font-family: Canopee;
    src: url(./616fd1dd00cf6c70f978fc69_Canopee.ttf);
}

@font-face {
    font-family: Domaine;
    src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    width: 100%;
}

#wrapper{
    background-color: #1C1C1A;
}

#page1{
    width: 100vw;
    height: 140vh;
    position: relative;
    background-color: #C3BCB2;
    overflow: hidden;
}

#nav{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #6F6C66;
}

#nav img{
    height: 18px;
    margin-left: -30px;
}

#nav h5{
    font-size: 15px;
    font-weight: 100;
    color: #1C1C1A;
    font-family: "Domaine";
}

#nav i{
    font-size: 23px;
    margin-left: 40px;
}

#elems{
    /* background-color: red; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#elem1{
    /* background-color: yellow; */
    width: 35%;
    height: 90%;
    padding: 0 0 0 20px;
}

#img-container{
    width: 90%;
    height: 60%;
    overflow: hidden;
    border: 1px solid black;
}

#img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .8s;
}

#img-container:hover img{
    scale: 1.2;
}

#elem1 h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#elem1 span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#elem1 p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#elem2{
    /* background-color: aqua; */
    width: 30%;
    height: 90%;
    border-left: 1px solid #6F6C66;
    border-right: 1px solid #6F6C66;
    text-align: center;
    padding: 10px 0;
}

#elem2 h2{
    font-family: "Canopee";
    font-size: 60px;
    font-weight: 500;
    color: #1C1C1A;
}

#elem2 h4{
    font-family: "Domaine";
    font-size: 40px;
    font-weight: 100;
    color: #1C1C1A;
}

#elem2 p{
    color: #44423F;
    font-family: "Domaine";
    font-size: 17px;
}

#elem2 p>span{
    color: #1C1C1A;
    font-weight: 600;
}

#elem3{
    /* background-color: green; */
    width: 35%;
    height: 90%;
    padding: 0 0 0 40px;
}

#elem3 h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#elem3 span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#elem3 p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#miranda{
    width: 96%;
    margin-top: 1%;
    margin-left: 2%;
    background-color: #1C1C1A;
    color: #C5BDB3;
    font-family: "Canopee";
    font-size: 500px;
    font-weight: 100;
    line-height: 400px;
    letter-spacing: -23px;
    padding-left: 15px;
    padding-top: 10px;
}

#page2{
    width: 100%;
    height: 160vh;
    background-color: #C3BCB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 26px;
}

#page2l{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    border-right: 1px solid #6F6C66;
}

#page2l h1{
    font-family: "Canopee";
    font-size: 90px;
    color: #1C1C1A;
    margin-left: 8px;
    line-height: 105px;
    letter-spacing: -2px;
}

#page2l h1 span{
    font-size: 150px;
}

#page2l img{
    height: 50%;
    width: 85%;
    object-fit: cover;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
}

#page2l p span{
    color: #C3BCB2;
    background-color: #1C1C1A;
    font-weight: 600;
    font-size: 70px;
    padding: 0 8px;
    margin: 10px 14px 0 0;
    float: left;
}

#page2l p{
    font-family: "Domaine";
    color: #1C1C1A;
    width: 88%;
    font-size: 28px;
}

#page2r{
    height: 100%;
    width: 65%;
    /* background-color: red; */
    margin: 5px 0 0 40px;
}

#page2r img{
    width: 100%;
    height: 62%;
    object-fit: cover;
    border: 1px solid #000;
    margin-bottom: 30px;
}

#page2r h1{
    font-family: "Domaine";
    color: #1C1C1A;
    font-size: 80px;
    line-height: 80px;
}

#page3{
    width: 100%;
    background-color: #C3BCB2;
    padding: 25px;
    position: relative;
}

#page3 h1{
    background-color: #1C1C1A;
    color: #C5BDB3;
    font-family: "Canopee";
    font-size: 420px;
    font-weight: 100;
    line-height: 320px;
    letter-spacing: -23px;
    width: fit-content;
    padding: 10px 40px 0 20px;
}

#page3 img{
    position: absolute;
    right: 2%;
    top: 5%;
    height: 90%;
}

#page4{
    width: 100%;
    height: 150vh;
    background-color: #C3BCB2;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#page4l{
    height: 90%;
    width: 60%;
    /* background-color: aqua; */
    border-right: 1px solid #000;
}

#page4ltop{
    /* background-color: green; */
    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#page4ltopl{
    width: 45%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 10px 0 10px 5px;
}

#page4ltopl h2{
    font-family: "Canopee";
    font-size: 50px;
    font-weight: 500;
    color: #1C1C1A;
}

#page4ltopl h4{
    font-family: "Domaine";
    font-size: 35px;
    font-weight: 100;
    color: #1C1C1A;
}

#page4ltopl p{
    color: #44423F;
    font-family: "Domaine";
    font-size: 17px;
}

#page4ltopl p>span{
    color: #1C1C1A;
    font-weight: 600;
}

#page4ltopr{
    width: 55%;
    height: 90%;
    padding: 0 0 0 40px;
}

#page4ltopr h4{
    font-family: "Canopee";
    font-size: 20px;
    margin: 10px 0;
    color: #1C1C1A;
    font-weight: 600;
}

#page4ltopr span{
    background-color: #B53C12;
    padding: 3px 5px;
    color: #C2BBB2;
    border-radius: 5px;
    font-size: 15px;
}

#page4ltopr p{
    font-family: "Domaine";
    font-weight: 100;
    color: #44423F;
    width: 90%;
    font-size: 17px;
}

#page4lbottom{
    width: 100%;
    height: 65%;
    /* background-color: teal; */
    margin: 20px;
    padding-right: 15px;
}

#page4lbottom img{
    width: 95%;
    height: 98%;
    object-fit: cover;
    /* border: 1px solid #000; */
    margin-bottom: 30px;
}

#page4r{
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    padding-left: 50px;
    padding-top: 35px;
}

#page4r h1{
    font-family: "Canopee";
    font-size: 90px;
    color: #1C1C1A;
    margin-left: 8px;
    line-height: 105px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

#page4r h1 span{
    font-size: 160px;
}

#page4r p span{
    color: #C3BCB2;
    background-color: #1C1C1A;
    font-weight: 600;
    font-size: 70px;
    padding: 0 8px;
    margin: 10px 14px 0 0;
    float: left;
}

#page4r p{
    font-family: "Domaine";
    color: #1C1C1A;
    width: 88%;
    font-size: 30px;
    padding-left: 10px;
}

#oval{
    margin-top: 20px;
    height: 190px;
    width: 85%;
    border-radius: 50%;
    background-color: #CAC0B6;
    border: 1px solid #6F6C66;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    overflow: hidden;
}

#oval h1{
    font-size: 80px;
    font-weight: 100;
    color: #1C1C1A;
    font-family: "Canopee";
    margin-top: 15px;
    transform: translateX(-30%);
    transition: all ease 0.7s;
}

#oval img{
    transform: translateX(-120%);
    transition: all ease 0.7s;
}

#oval:hover h1{
    transform: translateX(110%);
}

#oval:hover img{
    transform: translateX(110%);
}
